<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hp.qdotdash.hpaudiobook">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.hp.qdotdash.hpaudiobook.Player"
            android:configChanges="orientation"
            android:label="@string/title_activity_player"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name="com.hp.qdotdash.hpaudiobook.seekvaluesetter"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hp.qdotdash.hpaudiobook.Home"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>

        <service android:name="com.hp.qdotdash.hpaudiobook.PlayerService" />

        <activity android:name="com.hp.qdotdash.hpaudiobook.Emergency" />
        <activity android:name="com.hp.qdotdash.hpaudiobook.Welcomescreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.hp.qdotdash.hpaudiobook.playbackrate" />
    </application>

</manifest>